<!-- templates/index.html -->
<html>
  <head>
    <title>Pownal Solar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="btn-group">
      <button class="button" onclick="toggleRelay(1)">Kitchen East</button>
      <button class="button" onclick="toggleRelay(2)">Kitchen Island</button>
      <button class="button" onclick="toggleRelay(3)">South Floods</button>
      <button class="button" onclick="toggleRelay(4)">North Flood</button>
    </div>
  </body>

  <script>
    function toggleRelay(relayNum) {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("POST", `http://10.0.0.102:5000/pownal-solar?relayNum=${relayNum}`)
      xmlHttp.send()
    }
  </script>
</html>

